body {
 	background-image: url("../assets/images/pineapple.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;
  	background-size: cover;
}

h1 {
	font-family: "Impact";
  	color: #000000;

}

p {
	color: white;
}