body {
	background-color: #303745;
  	margin: 0;
}

h1 {
	font-family: "OswaldBold";
	font-size: 93px;
  	color: white;
  	/*line-height: 50px;*/
}

h2 {
	font-family: MontserratLight;
	font-size: 35px;
  	color: white;
  	/*letter-spacing: 1px;*/
  	/*line-height: 15px;*/
}

p {
	color: white;
	font-family: CooperHewitt;
	font-size: 15px;
	line-height: 10px;
	letter-spacing: 1px;
}

ul {
  	list-style-type: none;
  	margin: 0;
 	padding: 0;
  	width: 20%;
  	background-color: #484e60;
  	position: fixed;
  	height: 100%;
}

li a {
  display: block;
  color: #4e6487;
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
  font-family: BebasNeue;
  font-size: 30px;
}

li a.active {
  background-color: #303745;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.mainBodyDiv{
	margin-left: 20%;
	padding: 1px 16px;
	height: 1000px;
}

@font-face{
	font-family: BebasNeue;
	src: url("../assets/fonts/BebasNeue-Regular.otf");
}

@font-face{
	font-family: OswaldBold;
	src: url("../assets/fonts/Oswald-Bold.ttf");
}

@font-face{
	font-family: MontserratLight;
	src: url("../assets/fonts/Montserrat-Light.otf");
}

@font-face{
	font-family: CooperHewitt;
	src: url("../assets/fonts/CooperHewitt-Light.otf");
}
